@font-face{
	font-family: 'Georgia Italic';
	src: url("../fonts/Georgia Italic.ttf") format("truetype");
}


body{
	margin: 0px;
	padding: 0px;
	}


.veil {
	background: rgba(255,255,255,.3);
	width:100%;
	height:100%;
	position: fixed;
	top: 0px;
	left: 0px;
	display: none;
	z-index: 9999;

	}

	.menu{
		width: 220px;
		height: 100%;
		background-color: #ffffff;
		opacity: 1;
		z-index: 99999;
		position: absolute;
		top: 0px;
		right: -220px;

	}

	.nav{
		float: right;
		padding: 2em;
		z-index: 999;
	}

	.nav:hover{
		opacity: 0.7;
	}


	h2{
		color:#2f363b;
		text-decoration:none;
		font-size:18px;
		line-height: 100%;
		text-align: right;
		padding-bottom: 15px;
		padding-top: 15px;
		font-family: 'Georgia Italic', sans-serif;
	}

	h2:hover {
		color: #74716c;
		text-decoration:none;
	}


	h1 {
		color: #b3a680;
		text-decoration:none;
		font-size:22px;
		line-height: 100%;
		text-align: center;
		padding-bottom: 15px;
		padding-top: 15px;
		font-family: 'Georgia Italic', sans-serif;
	}

	a {
		color: #b3a680;
		text-decoration:none;
		font-size:22px;
		font-weight: bold;
		line-height: 100%;
		text-align: center;
		padding-bottom: 15px;
		padding-top: 15px;
		font-family: 'Georgia Italic', sans-serif;
	}

	a:hover {
		color: #74716c;
		text-decoration:none;
	}

.cover{
	background: url(../images/cinderella-home.jpg) no-repeat;
	background-size: cover;
	background-position: center top;
	min-width: 100%;
	min-height: 100%;
	width: auto;
	height: auto;
	position: absolute;
}

@media screen and (max-width:600px){

	.cover {
		background: url(../images/cinderella-mobile.jpg) no-repeat;
		background-size: cover;
		background-position: center top;
		min-width: 100%;
		min-height: 100%;
		width: auto;
		height: auto;
		position: absolute;
	}

}

/*------end mobile------*/

@media screen and (min-width: 600px) and (max-width:900px){

	.cover {
		background: url(../images/cinderella-tablet.jpg) no-repeat;
		background-size: cover;
		background-position: center top;
		min-width: 100%;
		min-height: 100%;
		width: auto;
		height: auto;
		position: absolute;
	}

}

@media screen and (min-width: 900px) and (max-width:1100px){

	.cover {
		background: url(../images/cinderella-landscape.jpg) no-repeat;
		background-size: cover;
		background-position: center top;
		min-width: 100%;
		min-height: 100%;
		width: auto;
		height: auto;
		position: absolute;
	}

}

/*------end tablet/ipad------*/


.arrow-right{
	position: absolute;
	opacity: 0.5;
	bottom: 3%;
	right: 3%;
	padding: 1em;
}

.arrow-right:hover{
	position: absolute;
	opacity: 1;
	bottom: 3%;
	right: 3%;
	padding: 1em;
}

.arrow-left{
	position: absolute;
	opacity: 0.5;
	bottom: 3%;
	left: 3%;
	padding: 1em;
}

.arrow-left:hover{
	position: absolute;
	opacity: 1;
	bottom: 3%;
	right: 3%;
	padding: 1em;
}

.gallery-case{
	background: url(../images/gallery1.jpg) no-repeat;
	background-size: cover;
	background-position: center top;
	min-width: 100%;
	min-height: 100%;
	width: auto;
	height: auto;
	position: absolute;
}

.stepmother{
	background: url(../images/Cinderella_2015_45.jpg) no-repeat;
	background-size: cover;
	background-position: center top;
	min-width: 100%;
	min-height: 100%;
	width: auto;
	height: auto;
	position: absolute;
}

.fairy-godmother{
	background: url(../images/Cinderella_2015_50.jpg) no-repeat;
	background-size: cover;
	background-position: center top;
	min-width: 100%;
	min-height: 100%;
	width: auto;
	height: auto;
	position: absolute;
}

.fullscreen-bg {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
    z-index: -100;
}


.fullscreen-bg__video {
    position: absolute;
    top: 50%;
    left: 50%;
    width: auto;
   /* width: 100vw;*/
    height: auto;
    min-width: 100%;
    min-height: 100%;
    z-index: -50;
    -webkit-transform: translate(-50%, -50%);
       -moz-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
	    transform: translate(-50%, -50%);
}

div#video-controls{
	background: #333;
	padding: 10px; 
}



/*---------scroll dots color (start)--------*/

.onepage-pagination li a.active:before {

	border: 1px solid #b3a680;

}

.onepage-pagination li a:before {background: #b3a680;
}

	@media screen and (max-width:600px){

			.onepage-pagination {
				display: none;
			}

		}


/*----------scroll pages------------*/

section{
	z-index: -9999;
}

.vision{
	background: url(../images/vision-home.jpg) no-repeat;
	background-size: cover;
	background-position: center top;
	min-width: 100%;
	min-height: 100%;
	width: auto;
	height: auto;
	position: absolute;
}

		@media screen and (max-width:600px){

			.vision {
				background: url(../images/vision-mobile.jpg) no-repeat;
				background-size: cover;
				background-position: center top;
				min-width: 100%;
				min-height: 100%;
				width: auto;
				height: auto;
				position: absolute;
			}

		}

		/*------end mobile------*/

		@media screen and (min-width:1450px){

			.vision {
				background: url(../images/vision-widescreeen.jpg) no-repeat;
				background-size: cover;
				background-position: center top;
				min-width: 100%;
				min-height: 100%;
				width: auto;
				height: auto;
				position: absolute;
			}

		}

		/*------end fullscreeen------*/

		@media screen and (min-width: 600px) and (max-width:900px){

			.vision {
				background: url(../images/vision-tablet.jpg) no-repeat;
				background-size: cover;
				background-position: center top;
				min-width: 100%;
				min-height: 100%;
				width: auto;
				height: auto;
				position: absolute;
			}

		}

		@media screen and (min-width: 900px) and (max-width:1100px){

			.vision {
				background: url(../images/vision-landscape.jpg) no-repeat;
				background-size: cover;
				background-position: center top;
				min-width: 100%;
				min-height: 100%;
				width: auto;
				height: auto;
				position: absolute;
			}

		}

/*------end tablet/ipad------*/

.stepmother{
	background: url(../images/stepmother-main.jpg) no-repeat;
	background-size: cover;
	background-position: center top;
	min-width: 100%;
	min-height: 100%;
	width: auto;
	height: auto;
	position: absolute;
}

.godmother{
	background: url(../images/fairygodmother-main.jpg) no-repeat;
	background-size: cover;
	background-position: center top;
	min-width: 100%;
	min-height: 100%;
	width: auto;
	height: auto;
	position: absolute;
}

.cinderella{
	background: url(../images/cinderella-main.jpg) no-repeat;
	background-size: cover;
	background-position: center top;
	min-width: 100%;
	min-height: 100%;
	width: auto;
	height: auto;
	position: absolute;
}

.step-concept{
	background: url(../images/step-concept-home.jpg) no-repeat;
	background-size: cover;
	background-position: center top;
	min-width: 100%;
	min-height: 100%;
	width: auto;
	height: auto;
	position: absolute;
}

		@media screen and (max-width:600px){

			.step-concept {
				background: url(../images/step-mobile.jpg) no-repeat;
				background-size: cover;
				background-position: center top;
				min-width: 100%;
				min-height: 100%;
				width: auto;
				height: auto;
				position: absolute;
			}

		}

		/*------end mobile------*/

		@media screen and (min-width:1450px){

			.step-concept {
				background: url(../images/step-widescreeen.jpg) no-repeat;
				background-size: cover;
				background-position: center top;
				min-width: 100%;
				min-height: 100%;
				width: auto;
				height: auto;
				position: absolute;
			}

		}

		/*------end fullscreeen------*/

		@media screen and (min-width: 600px) and (max-width:900px){

			.step-concept {
				background: url(../images/step-tablet.jpg) no-repeat;
				background-size: cover;
				background-position: center top;
				min-width: 100%;
				min-height: 100%;
				width: auto;
				height: auto;
				position: absolute;
			}

		}

		@media screen and (min-width: 900px) and (max-width:1100px){

			.step-concept {
				background: url(../images/step-landscape.jpg) no-repeat;
				background-size: cover;
				background-position: center top;
				min-width: 100%;
				min-height: 100%;
				width: auto;
				height: auto;
				position: absolute;
			}

		}

/*------end tablet/ipad------*/

.fairy-concept{
	background: url(../images/fairy-concept-home.jpg) no-repeat;
	background-size: cover;
	background-position: center top;
	min-width: 100%;
	min-height: 100%;
	width: auto;
	height: auto;
	position: absolute;
}

		@media screen and (max-width:600px){

			.fairy-concept {
				background: url(../images/fairy-mobile.jpg) no-repeat;
				background-size: cover;
				background-position: center top;
				min-width: 100%;
				min-height: 100%;
				width: auto;
				height: auto;
				position: absolute;
			}

		}

		/*------end mobile------*/

		@media screen and (min-width:1450px){

			.fairy-concept {
				background: url(../images/fairy-widescreeen.jpg) no-repeat;
				background-size: cover;
				background-position: center top;
				min-width: 100%;
				min-height: 100%;
				width: auto;
				height: auto;
				position: absolute;
			}

		}

		/*------end fullscreeen------*/

		@media screen and (min-width: 600px) and (max-width:900px){

			.fairy-concept {
				background: url(../images/fairy-tablet.jpg) no-repeat;
				background-size: cover;
				background-position: center top;
				min-width: 100%;
				min-height: 100%;
				width: auto;
				height: auto;
				position: absolute;
			}

		}

		@media screen and (min-width: 900px) and (max-width:1100px){

			.fairy-concept {
				background: url(../images/fairy-landscape.jpg) no-repeat;
				background-size: cover;
				background-position: center top;
				min-width: 100%;
				min-height: 100%;
				width: auto;
				height: auto;
				position: absolute;
			}

		}

.ella-concept{
	background: url(../images/ella-concept-home.jpg) no-repeat;
	background-size: cover;
	background-position: center top;
	min-width: 100%;
	min-height: 100%;
	width: auto;
	height: auto;
	position: absolute;
}

		@media screen and (max-width:600px){

			.ella-concept {
				background: url(../images/ella-mobile.jpg) no-repeat;
				background-size: cover;
				background-position: center top;
				min-width: 100%;
				min-height: 100%;
				width: auto;
				height: auto;
				position: absolute;
			}

		}

		/*------end mobile------*/

		@media screen and (min-width:1450px){

			.ella-concept {
				background: url(../images/ella-widescreeen.jpg) no-repeat;
				background-size: cover;
				background-position: center top;
				min-width: 100%;
				min-height: 100%;
				width: auto;
				height: auto;
				position: absolute;
			}

		}

		/*------end fullscreeen------*/

		@media screen and (min-width: 600px) and (max-width:900px){

			.ella-concept {
				background: url(../images/ella-tablet.jpg) no-repeat;
				background-size: cover;
				background-position: center top;
				min-width: 100%;
				min-height: 100%;
				width: auto;
				height: auto;
				position: absolute;
			}

		}

		@media screen and (min-width: 900px) and (max-width:1100px){

			.ella-concept {
				background: url(../images/ella-landscape.jpg) no-repeat;
				background-size: cover;
				background-position: center top;
				min-width: 100%;
				min-height: 100%;
				width: auto;
				height: auto;
				position: absolute;
			}

		}
